<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="GidOnline - мы самый лучший онлайн кинотеатр!. Онлайн ресурс для просмотра фильмов и сериалов.">
    <meta property="og:title" content=@ViewBag.Title>
    <meta property="og:type" content="article">
    <meta name="keywords" content= "GidOnline, Онлайн сериалы, Онлайн смотреть фильмы">
    <meta property="og:description" content="GidOnline - мы самый лучший онлайн кинотеатр!. Онлайн ресурс для просмотра фильмов и сериалов.">
    <meta property="og:url" content="https://GidOnline.net">
    <link rel="icon" href="~/image/ServiceImg/h-logo.png" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!--[if lt IE 9]>
     <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <div class="test-container">
        <header class="header">
            <div class="container">
                <div class="logo">
                    <a href='@Url.Action("Index", "Home", null)'><img src="~/image/ServiceImg/gidonline.png" title="GidOnline - самый лучший онлайн кинотеатр!" alt=""></a>
                </div>
                <div class="navigation">
                    <div class="search">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "search" }))
                        {
                            <input type="text" name="inputSearch" id="inputSearch" title="Search" class="inputSearch" placeholder="Поиск...">
                            <input id="btnSearch" type="submit" name="submit" class="btnSearch" value=" Поиск">
                        }
                    </div>
                    <div class="menu">
                        <ul>
                            <li>@Html.ActionLink("Новинки", "newsMovie", "Home", null, new { @class = "item-nav" })<span>|</span></li>
                            <li><a href="#" class="item-nav">Премьеры</a><span>|</span></li>
                            <li><a href="#" class="item-nav">Навигатор</a><span>|</span></li>
                            <li> @Html.ActionLink("Случайные", "random", "Home", null, new { @class = "item-nav" })</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>


        @RenderBody()


        <footer class="footer">
            <div class="container">
                <div class="info">
                    <p> ©&nbsp;<a href='@Url.Action("Index", "Home")'>GidOnline</a> - мы самый лучший онлайн кинотеатр!</p>
                </div>
                <div class="info-link">
                    <p>
                        @Html.ActionLink("Пользователю", "Faq", "Home") ♦ @Html.ActionLink("Правообладателям", "Rights", "Home") ♦ @Html.ActionLink("Контакты", "Contact", "Home")
                    </p>
                </div>
            </div>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@
</body>
</html>
